.skills {
    display: grid;
    grid-template-columns: 60px 1fr;
}
.homeNavBar {
    background-color: #282B32 ;
    display: grid;
    grid-template-rows: repeat(5, 55px);
    justify-content: center;
    align-content: center;
}
.homeNavBar svg {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.homeNavBar svg:hover {
    transform: translateX(5px);
    color: darkorange;
}
.skillsContent {
    background-color:#2E3138;
    display: grid;
    height: 100%;
    grid-template-rows: 220px 1fr;
    padding: 1rem 20px;
}
.skillsContentTitle {
    background-color: forestgreen;
    align-self: flex-end;
}
.skillsContentTechnologies {
    align-self: start;
    padding: 0;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: red;
}
.technologyTile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid grey;
    border-radius: 7px;
    place-content: center;
    font-family: 'Space Mono', monospace;
}